theme{
    --color-primary: #b550f8;
    --color-grey: #f7f3f3;
    --color-grayish: #e3e8ed;
    --color-tag-blue: #172135;
    --color-caption-purple: #ab9eb8;
    --color-subtle-purple: #b550f8;
    --font-sans: 'Poppins', san-serif;
    --font-epilogue: 'Epilogue', serif;
    --tracking-tightest: -3px;
    --font-source: "Source Sans 3", serif;
    --color-bat-black: #1e1a23;
    --color-subtle-grey: #302928;
    --breakpoint-xs: 20rem;
}
body{
    /* min-width: 48rem; */
    background-color: #141217;
    color: white;
}
.navv{
    background-color: #141217!important;
}
.nav-links{
    font-family: Epilogue;
    font-size: 18px;
    font-weight: 400;
}

.custom-text{
    font-family: var(--font-sans);
}

.epilogue{
    font-family: var(--font-epilogue);
}
.skillset{
    background-color: #172135;
}
.offcanvas-half{
    width: 50% !important;
    max-width: none;
}
 @media (max-width: 991.98px) { /* Bootstrap lg breakpoint */
    #collapsibleNavbar {
      background-color:  #08070799; /* Bootstrap*/
    }
    #collapsibleNavbar .nav-link {
      color: #fff !important; /* White text */
    }
  }
