theme{
    --color-primary: #b550f8;
    --color-grey: #f7f3f3;
    --color-grayish: #e3e8ed;
    --color-tag-blue: #172135;
    --color-caption-purple: #ab9eb8;
    --color-subtle-purple: #b550f8;
    --font-sans: 'Poppins', san-serif;
    --font-epilogue: 'Epilogue', serif;
    --tracking-tightest: -3px;
    --font-source: "Source Sans 3", serif;
    --color-bat-black: #1e1a23;
    --color-subtle-grey: #302928;
    --breakpoint-xs: 20rem;
}
body{
    /* min-width: 48rem; */
    background-color: #141217;
    color: white;
}
.navv{
    background-color: #141217!important;
}
.nav-links{
    font-family: Epilogue;
    font-size: 18px;
    font-weight: 400;
}

.custom-text{
    font-family: var(--font-sans);
}

.epilogue{
    font-family: var(--font-epilogue);
}
.skillset{
    background-color: #172135;
}
.offcanvas-half{
    width: 70% !important;
    max-width: none;
}
 @media (max-width: 991.98px) { /* Bootstrap lg breakpoint */
    #collapsibleNavbar {
      background-color:  #08070799; /* Bootstrap*/
    }
    #collapsibleNavbar .nav-link {
      color: #fff !important; /* White text */
    }
  }
.image-stack-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0;
    position: relative;
  }

  .phone {
    width: 706.42px;
    height: 593.16px;
    opacity: 1;
    top: 177px;
    left: 670px;
    max-width: 200px;
    transition: transform 0.3s ease;
  }

  /* Tilt effect for V shape */
  .phone-left {
    width: 250px;
    height: 550px;
    top: 177px;
    left: 670px;

    transform: rotate(-12deg) translateY(15px);
    margin-right: -70px;
    z-index: 1;
  }

  .phone-center {
    width: 250px;
    height: 550px;
    top: 199.46px;
    left: 896.64px;

    transform: rotate(0deg) translateY(0);
    z-index: 3;
  }

  .phone-right {
    width: 250px;
    height: 550px;
    top: 177px;
    left: 994.64px;

    transform: rotate(12deg) translateY(15px);
    margin-left: -80px;
    z-index: 2;
  }

  /* Responsive tweak */
  @media (max-width: 768px) {
    .phone {
      width: 30%;
      max-width: 140px;
    }
    .phone-left { margin-right: -35px; }
    .phone-right { margin-left: -35px; }
  }
